.project_header{

}
.project_footer{

}

.header_title{

}
.footer_title{
    font-family: 'Lobster', cursive;
}

.content_block {
    height: 20rem;
    background-color: aquamarine;
    border-radius: 1rem;
    margin: 2rem;
}